/* src/App.css */

.App {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.AppBar {
    margin-bottom: 20px; /* Отступ между AppBar и остальной частью контента */
}

/* Удалите любые стили, которые могут переопределять ваши настройки Material-UI */
.MuiAppBar-root {
    background-color: #fff !important; /* Белый фон */
    color: #000 !important; /* Черный текст */
    padding: 0 20px !important; /* Уменьшаем ширину панели */
}

.MuiTypography-root {
    color: #000 !important; /* Черный текст */
}

.MuiLink-root {
    margin: 0 10px !important;
    color: #000 !important; /* Черный текст ссылок */
    text-decoration: none !important;
    font-size: 16px !important; /* Размер текста ссылок */
}

.MuiLink-root:hover {
    text-decoration: underline !important;
}
